<% include ../partials/boilerplate %>

<div class='frame'>
  <h1>Ada's Pizza Menu</h1>
  <h2>Check out all these amazing pizzas...</h2>
  <a href='/pizzas/add'>Add to the list</a>
</div>
  <% pizzaData.forEach((pizza, index) => { %>
    <div class='frame'>
      <h3><%= pizza.flavor %></h3>
      <p>This pizza comes from <%= pizza.location %>.</p>
      <a href='/pizzas/<%= index + 1%>'>Learn more!</a>
    </div>
  <% }) %>
 
<% include ../partials/end %>