<% include ../partials/boilerplate %>

<div class='frame'>
  <form method='POST' action='/pizzas'>
    <input name='flavor' type='text' class='form' placeholder='Flavor' />
    <input name='flavor_key' type='text' class='form' placeholder='Flavor Key' />
    <input name='location' type='text' class='form' placeholder='Location' />
    <textarea name='description' class='form' placeholder='Give a description here...'></textarea>
    <input type='submit' value='Add It' />
  </form>
</div>

<% include ../partials/end %>