<% include ../partials/boilerplate %>

<div class='frame'>
  <h4>More about <%= onePizza.flavor %></h4>
  <img src='../../static/images/<%= onePizza.flavor_key%>.png'>
  <p>This pizza is from <%= onePizza.location %>.</p>
  <p>Description: <%= onePizza.description %>.</p>
  <a href='/pizzas'>Return to pizza list</a>
</div>
 
<% include ../partials/end %>