<% include ../partials/boilerplate %>

<div class='pizza'>
  <h3>More about <%= onePizza.flavor %></h3>
  <p>This pizza is from <%= onePizza.location %>.</p>
  <p>Description: <%= onePizza.description %>.</p>
</div>
 
<% include ../partials/end %>