<% include ../partials/boilerplate %>

<h2>Ada's Pizza Menu!</h2>

<div class='pizzalist'>
  <h3>Check out all these amazing pizzas...</h3>
  <% pizzaData.forEach((pizza, index) => { %>
    <div class='singlepizza'>
      <h4><%= pizza.flavor %></h4>
      <p>This pizza comes from <%= pizza.location %>.</p>
      <a href='/pizza/<%= index %>'>Learn more!</a>
    </div>
  <% }) %>
</div>
 
<% include ../partials/end %>